body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    text-align: center;
  }

  #stopwatch {
    font-size: 48px;
    margin-bottom: 20px;
  }
  .ticktick{
    font-size: 40px;
    margin-bottom: 10px;

  }

  button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 15px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
}